
/**ADD INTER FONT HERE!!!**/
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  body {
    font-family: 'Inter', sans-serif;
  }

.overall {
    display: flex;
    flex: none;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    gap: 30px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    /* overflow-y: scroll; */
    padding: 24px;

    position: relative;
    width: 708px;
    /* width: 800px; */
    z-index: 2;
    align-items: center;
    padding-left: 22%;
    padding-top: 50px;


    /* transition: width 2s; */
    transition: .2s cubic-bezier(.54,-.01,.6,1.01);

}

.main-text {
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 16px 16px;
    position: relative;
    width: 100%;

    padding-left: 24%;

}


.intro-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    height: min-content;
    /* width: min-content; */
    justify-content: flex-start;
    /* transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1) */
}
.self-intro {
    display: flex;
    flex-direction: column;


    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
    height: min-content;
}
.hi {
    display: flex;
    flex-direction: row;
    font-size: 30px;

    margin: 0px;
    padding: 0px;
}
.emoji-wave {
    padding-left: 6px;
    animation: shake 1.5s;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(-30deg); }
    30% { transform: rotate(20deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(20deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }

  }
.small-headline {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    color: #8C8C8C;
    font-size: 17.5px;

}

.headshot {
    display: flex;
}

.headshot-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}



.menu {
    display: flex;

    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 25px;
    justify-content: space-between;
    overflow: visible;
    padding: 16px;
    position: relative;

    width: 90%;

    /* background: gray;
    opacity: 0.3;
    border-radius: 15px; */

}

.backdrop {
    position: absolute;
    z-index: -1;
    width: 100%;
    background: #DCD6D0;
    opacity: 0.3;
    border-radius: 13px;
    height: 90%;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 20px;
    justify-content: flex-start;
    /* padding-left: -40px; */
    padding: 0px;
}

.menu-right {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}

.social-icon {
    color: darkslateblue;
    transition: color 0.2s;
}
.social-icon:hover {
    color: darkblue;
}
ion-icon {
    font-size: 21px;
  }



.bullets {
    color: #000000;
    text-decoration: none;
    text-decoration-color: white;
    transition: opacity 0.2s;

    padding-left: 30px;
}

.bullets:hover {
    /* color: darkgray; */
    opacity: 0.6;
    /* text-shadow: 1ch; */
}

.about-me {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 3%;
}

.paragraph {
    display: flex;
    font-size: 20px;
    line-height: 1.75rem;
    margin: 0;
    padding: 0;
}
.colorful {
    color: #7319fa;
    background-image: -webkit-linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
    background-clip: text;
    -webkit-background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-text-fill-color: transparent;
}
.current {
    display: flex;
    font-size: 17px;
    /* margin-bottom: -5px; */
}


  
/* Experiences */
.header-experiences{
    height: 10px;
}

/* Your existing CSS styles */

/* Add the styles for experience cards below */
.experience-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px; /* Increase the width of the card container */
    margin-top: 30px;
    margin-bottom: 25px;
}

/* Add the styles for experience cards below */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* Divide the card into four rows */
    height: 270px; /* Adjust the height as needed */
    width: 180px; /* Adjust the width as needed */

    position: relative;
    overflow: hidden; 
}

.experience-name {
    font-weight: bold; /* Make the name bold */
    font-size: 18px;
    margin-bottom: 15px;
}

.image-container {
    flex: 2; /* Increase the size of the image container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-height: 100px; /* Allow the image to fill the height of the container */
    max-width: 100px;
    border-radius: 5px;
}

.tech-stack {
    flex: 1; /* Decrease the size of the tech stack container */
    display: flex;
    flex-direction: column;
    gap: 6px; /* Adjust the space between items as needed */
    justify-content: flex-start;
    align-items: center;
    color: #777; /* Change the color of the tech stack text to light gray */
    font-size: 12px; /* Decrease the font size of the tech stack text */
    grid-row: 3; /* Position the tech stack in the third row */
    max-height: 2.2em; /* Limit the height of the tech stack to show 2 lines */
    /* overflow: hidden; Hide any extra content beyond the 2-line limit  */

    margin-top: 15px;
    margin-bottom: -5px;

}

.description {
    flex: 1; /* Decrease the size of the description container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row: 4; /* Position the description in the fourth row */
    align-self: flex-start; /* Align the description to the top */
}

.description p {
    font-size: 14px; /* Increase the font size of the description text */
    /* text-align: left; */
}

/* PROJECTS SECTION  */
.projects-header{
    margin-left: 20px;
}
#projects-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1000px; /* Increase the width of the card container */
    margin-top: 30px;
    /* margin-left: -19px; */
  }
  
  .project-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 230px;
    width: 220px; */
    height: 350px;
    width: 320px;

    position: relative; /* Add this to position the popup link relative to the card */
  }
  
  .project-card img {
    max-height: 320px; /* Allow the image to fill the top half of the card */
    max-width: 320px;
    /* border-radius: 8px 8px 0 0; */
    border-radius: 8px;
  }
  
  .project-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 15px;
  }
  
  .tech-stack-project {
    flex: 1; /* size of tech stack container */
    display: flex;
    flex-direction: column;
    gap: 10px; /* space btw items */
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* Add padding to the tech stack container */
    color: #777; /* Change the color of the tech stack text to light gray */
    font-size: 12px; /* Decrease the font size of the tech stack text */

    margin-top: -35px;
    margin-bottom: -35px;
  }


 .description-project {
    flex: 1; /* Decrease the size of the description container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-row: 4; /* Position the description in the fourth row */
    align-self: flex-start;
    overflow: hidden; /* Hide overflowing text */
    overflow-y: scroll;


 }
 .description-project p {
    font-size: 14px; /* Increase the font size of the description text */
    /* text-align: left; */
}



.popup-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 8px 0;
    text-align: center;
    opacity: 0; /* Set the initial opacity to 0 for the pop-up link */
    pointer-events: none; /* Prevent the pop-up link from being clickable when not visible */
    transition: opacity 0.3s ease-in-out; /* Add a smooth fade-in and fade-out effect */
  }
  
  .project-card:hover .popup-link {
    opacity: 1; /* Set the opacity to 1 on hover to make the pop-up link visible */
    pointer-events: auto; 
  }
  
  /* Display the pop-up link on hover for both experiences and projects sections */
  .card:hover .popup-link {
    opacity: 1; /* Set the opacity to 1 on hover to make the pop-up link visible */
    pointer-events: auto; /* Enable pointer events when the pop-up link is visible */
  }
  


  